.stage-cube-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  margin:7% 0;
  .cubespinner {
    transform-style: preserve-3d;
    transform-origin: center;
    position: relative;
    width: 200px;
    height: 200px;
    font-size:xxx-large;
    div {
      background:rgba($accentuation-color , .85);
      position: absolute;
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px 0px lightyellow;
      img{
        aspect-ratio: 1/1;
       width: 30%;
      }

    }
    .face1 { transform: translateZ(100px); }
    .face2 { transform: rotateY(90deg) translateZ(100px); }
    .face3 { transform: rotateY(90deg) rotateX(90deg) translateZ(100px); }
    .face4 { transform: rotateY(180deg) rotateZ(90deg) translateZ(100px); }
    .face5 { transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px); }
    .face6 { transform: rotateX(-90deg) translateZ(100px); }
  }
}

