
.projet {
  .text-zone {
  margin-bottom: 5%;


}
  overflow-y: scroll;
  width: 100%;
  height: auto;
  padding: 30px 10px;
  transition: background .4s ease-in;

justify-content: space-between;
  &.blue {
    background-color: #428aa6;
  }
}
.remaining-presentation {
  padding: 10px;
  border-top: 1px solid #ddd;
  position: relative;

}


.carouselProjet {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.carousel__wrapper {
  margin-bottom: 10%;
  margin-top: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  flex-grow: 1;
  align-items: center;
  left: 5%;
}

.item {
  position: absolute;
  width: 60%;
  height: auto;
  opacity: 0.3;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    max-height: 400px;
    border-radius: 10px;
  }

  &.visible {
    transform: translateX(0) scale(1.1);
    opacity: 1;
    z-index: 1;

    img {
      box-shadow: 0px 0px 5px rgba(81, 81, 81, 0.47);
      border-radius: 10px;
    }
  }
&.next{
   transform: translateX(40%) scale(0.8);
  opacity: .4;
  z-index: 0;
} &.prev {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  &:not(.visible):not(.next):not(prev){
  transform: translateX(-40%) scale(.8);
    z-index: -1;
}

}

.carousel-footer {
  margin-top: 5%;
  text-align: center;

  .carousel-title-card {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
  }

  h4 {
    color: #403d40;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    a {
      color: #428aa6;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.links{
  display: inline-flex;
  justify-content: space-between ;
  align-items: center;
  margin-top:5%;
  margin-bottom: 10%;
  a{
    margin-left: 1%;
  }
}
