@import '../../const/const';

.contact {
  width: max-content;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 8vh 5vw;
  box-sizing: border-box;
}

.contactHeader {
  text-align: center;
  margin-bottom: 5vh;

  span {
    color: $text-color;
    font-size: 1rem;
  }

  h2 {
    margin: 1rem 0;

    font-size: clamp(3rem, 6vw, 6rem);
    color: $accentuation-color;
  }

  p {
    margin: 0;

    font-size: clamp(1rem, 2vw, 1.5rem);
    color: $text-color;
  }
}

.contactCards {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  gap: 2rem;

  > * {
    flex: 1;
    min-width: 0;
  }
}
