@import '../../const.scss';

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.projects {
    >.card-container >
    .card
    >h2
    {
      margin: 0 0 ;
      font-weight: 400;
      font-size: 35px;
      letter-spacing:0;
      color:$primary-color;
    }
gap: 30%;
  padding: 5% 25%;
  display: flex;
  flex-direction: column;
  overflow-x:auto;
  scroll-snap-type: y mandatory;
  justify-content: flex-start;

  .card-container {
    scroll-snap-align: center;
    border: solid aliceblue 5px;
    transform-origin: center;
    height: 60vh;
    min-width: 50vw;
    overflow: hidden;
    margin-bottom: 50%;

  .card-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
  }
    .card {
      height: 100%;
      width: 100%;

      > figure {
        margin: 0;
        padding: 0;
        width: 100%;
        height:50%;
        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center
        }
      }

      > h2 {
        font-size: 50px;
        letter-spacing: 0.6em;
        color: $primary-color;
        transition: color 0.3s ease-in-out;
      }

      > p {
        font-size: 1.3rem;
        color: $accentuation-color;
        line-height: 1.6rem;
      }

      > a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s;

        &:focus {
          outline: 1px dotted #28666e;
        }

        > .icon {
          min-width: 24px;
          width: 24px;
          height: 24px;
          margin-left: 5px;
          transform: translateX(var(--link-icon-translate));
          opacity: var(--link-icon-opacity);
          transition: all 0.3s;
        }
      }
    }
  }
  .card-container:last-child {
    margin-bottom: 0; // Enlève l'espace après la dernière carte
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
