@import "../../const.scss";


.container {
  will-change: contents;
  height: 100vh;
  opacity: 0;
  z-index: 1;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
  font-size: 50px;
  font-weight: 400;
  position: relative;
  margin-bottom: 5%;
}

  p {
    font-size: 15px;
    color: $accentuation-color;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
  }
}


