.mobile-view {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
  }
}
.mobile-view {
  .about,
  .projets,
  .cv,
  .contact {
    margin-block: 5%;
  }
}
