@import "../../const";
.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: $accentuation-color ;
  color: $background-color;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.download-btn:hover {
  background-color: $primary-color;
}
.cv-embed{
  margin-bottom: 10px;
}